doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Lidiane Pereira

        link(rel='icon', type='image/x-icon', href='assets/img/laptop-code-solid.svg')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')
        // Dev icons
        link(src='https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css', rel='stylesheet', type='text/css')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Lidiane Pereira
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpeg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    //- li.nav-item
                    //-     a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Lidiane
                        span.text-primary Pereira
                    .subheading.mb-5
                        | Juiz de Fora · Brazil · 
                        a(href='mailto:lidiane@lidianepereira.com') lidiane@lidianepereira.com
                    p.lead.mb-5
                        | I'm a technology enthusiast, master in computer science, currently working as full stack developer. My research area in graduate and postgraduate was mainly augmented reality, virtual reality, computer graphics and informatics for education.  I'm interested in web systems, software development and software architecture.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/lidiane-t-pereira')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/lidianetpereira')
                            i.fab.fa-github
                        a.social-icon(href='https://www.researchgate.net/profile/Lidiane-Pereira-3')
                            i.fas.fa-book-open

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Full stack developer
                            .subheading.mb-3 Banib
                            p
                                | I work on development and maintenance of a SaaS for virtual tours creation.  I am involved in the entire software improvement and evolution cycle, contributing in requirements analysis, modeling and implementation. As a full stack, I work both on the backend (developed in Spring Boot and Java, with PostgreSQL relational database) creating REST APIs, and on the frontend (developed in Vue.js with Typescript). 
                        .flex-shrink-0
                            span.text-primary September 2021 - Present

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Universidade Federal de Juiz de Fora
                            .subheading.mb-3 Master in Computer Science
                            p
                                | My research aimed to use photo realism in Augmented Reality applications. To achieve this, we proposed ARRay - Tracing, a framework for using ray tracing in AR applications through the combined use of OptiX, VKRay and ARToolKit.
                        .flex-shrink-0
                            span.text-primary 2019 - 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Universidade Federal de Juiz de Fora
                            .subheading.mb-3 Bachelor in Computer Science
                        .flex-shrink-0
                            span.text-primary 2013 - 2019

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul
                        li Java
                        li Spring Boot
                        li Javascript
                        li Typescript
                        li Vue.js
                        li Git | GitLab | GitHub
                        li PostgreSQL
                        li C++
                        li Google Cloud Platform
                        li node.js

                    p This site was built with 
                        a(href='https://github.com/StartBootstrap/startbootstrap-resume') Start Bootstrap Template

            hr.m-0

            //- // Awards
            //- section#awards.resume-section
            //-     .resume-section-content
            //-         h2.mb-5 Awards & Certifications
            //-         ul.fa-ul.mb-0
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | Google Analytics Certified Developer
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | Mobile Web Specialist - Google Certification

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')